
<section id="artworks">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let artwork of artworks">
                <div class="card_artwork">
                    <!--<div class="card" style="width: 20rem;">-->
                    <div class="card">
                        <div class="card-body text-center">
                            <p>
                                <img class="img-fluid" src="https://dummyimage.com/300x300/000/fff" alt="">
                            </p>
                            <h4 class="card-title">La noche estrellada</h4>
                            <p class="card-text" id="text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error necessitatibus, esse maxime sunt optio facilis ea assumenda, repellendus molestias vel cupiditate est explicabo velit quisquam minus modi. Nisi, quam molestias.
                            </p>
                            <a href="#" class="btn btn-block btn-primary" target="_blank">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>